<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-pt-BR.min.js"> </script>
</head>
<body>
<p id="notice"><%= notice %></p>

<h1>Students</h1>

    <table id="table" data-toggle="table" data-pagination="true" data-search="true">

  <thead>
        <tr>
              <th></th>
        </tr>
  </thead>

  <tbody>
        <% @students.each do |student| %>
          <tr>
                    <td><%= link_to 'Show', student %>
              <%= link_to 'Edit', edit_student_path(student) %>
              <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure ?' } %></td>
            </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
</body>
</html>