<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listing Books</h1>

      <table data-toggle="table" data-pagination="true" data-search="true" class="table table-striped">
      <thead>
      <tr>
                  <th>Name</th>
                  <th>Author</th>
                  <th>Price</th>
                <th></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
                      <td><%= book.name %></td>
                      <td><%= book.author %></td>
                      <td><%= book.price %></td>
                    <td>
            <div class="pull-right">
              <%= link_to 'Show', book, :class => 'btn btn-default btn-xs' %>
              <%= link_to 'Edit', edit_book_path(book), :class => 'btn btn-default btn-xs' %>
              <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'  %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Book', new_book_path, :class => 'btn btn-primary' %>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-pt-BR.min.js"> 