<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<div class="container">
  <p id="notice"><%%= notice %></p>

  <h1>Listing <%= plural_table_name.titleize %></h1>

  <% if singular_table_name == 'student' -%> 
    <table data-toggle="table" data-pagination="true" class="table table-striped">
  <% else -%>
    <table data-toggle="table" data-pagination="true" data-search="true" class="table table-striped">
  <% end -%>
    <thead>
      <tr>
        <% attributes.reject(&:password_digest?).each do |attribute| -%>
          <th><%= attribute.human_name %></th>
        <% end -%>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
        <tr>
          <% attributes.reject(&:password_digest?).each do |attribute| -%>
            <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
          <% end -%>
          <td>
            <div class="pull-right">
              <%%= link_to 'Show', <%= singular_table_name %>, :class => 'btn btn-default btn-xs' %>
              <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'btn btn-default btn-xs' %>
              <%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs'  %>
            </div>
          </td>
        </tr>
      <%% end %>
    </tbody>
  </table>

  <br>

  <%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, :class => 'btn btn-primary' %>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-pt-BR.min.js"> 